{% set has_children = content.group_menu_eva_nested_menu|render|striptags|trim|length > 0 %}
{% set is_current_page_trail = url in path('<current>') %}

{% if content.field_short_title %}
  {% set title = content.field_short_title.0 %}
{% else %}
  {% set title = label.0 %}
{% endif %}

{% if node.bundle == "resource" %}
  {% if node.field_resource_url.0.url.external %}
    {% set destination = node.field_resource_url.uri	%}
  {% else %}
    {% set destination = path(node.field_resource_url.0.url.routeName, node.field_resource_url.0.url.routeParameters) %}
  {% endif %}
{% else %}
  {% set destination = url %}
{% endif %}

{% if content.flag_follow %}
<div class="float-end pt-2 me-2">
  {{ content.flag_follow }}
</div>
{% endif %}
<a href="{{ destination }}" class="d-flex flex-grow-1 align-items-center text-break nav-link{% if path('<current>') == destination %} active disabled fw-bold{% endif %}">
{{ title }}
{% if not node.isPublished() %}
  <span class="badge badge-sm bg-danger ms-2">Unpublished</span>
{% endif %}
{% if has_children and not is_current_page_trail %}
  <i class="fas fa-chevron-right ms-auto"></i>
{% elseif has_children and is_current_page_trail %}
  <i class="fas fa-chevron-down ms-auto"></i>
{% endif %}
</a>
{% if is_current_page_trail %}
  {{ content|without('field_short_title','field_parent','field_resource_url') }}
{% endif %}
