// Make all images responsive
img {
  max-width: 100%;
  height: auto;
}

div.media + p {
  margin-top: $spacer;
}

pre {
  padding: 2rem;
  background-color: $black;
  border: 1px solid $gray-300;
}

blockquote {
  padding: 2rem;
  border-left: 4px solid $gray-300;
}

.more-link {
  margin-bottom: $spacer*1.5;
}

.container {
  max-width: 720px;
}
